body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: row;
}

.Userbar {
  background-color:  rgb(241, 239, 239);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;
}

.Sidebar {
  width: 150px;
  min-height: 100vh;
  background-color: rgb(241, 239, 239);
}
.Sidebar>li a, .Sidebar>li {
  text-align:center;
  color: black;
}

.Sidebar .active {
  width: 100%;
  background-color: rgba(32, 63, 240, 0.473);
}

.Sidebar>.active a, .Sidebar .active::after {
  content: "->";
  color: blue;
}